/* ========= RESET ========= */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0 auto;
  padding: 0 auto;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}
